<ejs-chart id="container-2" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [tooltip]='tooltip'>
  <e-series-collection>
    <e-series [dataSource]='chartData' type='Line' xName='month' yName='sales' name='Sales' [marker]='marker'></e-series>
  </e-series-collection>
</ejs-chart>

<ejs-chart id="112233" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [tooltip]='tooltip'>
  <e-series-collection>
    <e-series [dataSource]='chartData' type='Line' xName='month' yName='sales' name='Sales' [marker]='marker'></e-series>
  </e-series-collection>
</ejs-chart>

<ejs-chart id="container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [tooltip]='tooltip'>
  <e-series-collection>
    <e-series [dataSource]='chartData' type='Bar' xName='month' yName='sales' name='Sales' [marker]='marker'></e-series>
  </e-series-collection>
</ejs-chart>

<ejs-chart id="123123132132" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [tooltip]='tooltip'>
  <e-series-collection>
    <e-series [dataSource]='chartData' type='Bar' xName='month' yName='sales' name='Sales' [marker]='marker'></e-series>
  </e-series-collection>
</ejs-chart>
